@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

      * {
        margin: 0;
        padding: 0;
      }

      body {
        color: #666666;
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.80857;
        font-weight: normal;
        overflow-x: hidden;
        background-color: white;
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      img {
        max-width: 100%; /* 1. Prevents images from exceeding their container's width */
        height: auto; /* 2. Maintains the aspect ratio of the image */
        border-style: none; /* 3. Removes any border around the image */
      }

      .top {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 15vh;
        background-color: #252525;
        color: white;
      }
      .top h1 {
        flex-basis: 30%;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
      }
      .top ul {
        flex-basis: 40%;
        display: flex;
        font-size: 15px;
        font-weight: 200;
      }
      .top ul li {
        text-decoration: none;
        width: 18%;
        list-style: none;
      }

      .first {
        color: #f76d37;
        text-decoration: none;
      }
      .white {
        color: white;
        text-decoration: none;
      }

      .top ul li i {
        padding-left: 15px;
      }
      .top ul li a:hover {
        color: #f76d37;
      }
      .fa-search:hover {
        color: #f76d37;
      }

      .coffee {
        background: url(images/coffee.png);
        width: 100%;
        height: 85vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
      }
      .shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        padding: 0 5%;
      }

      .shop h2 {
        color: #252525;
        font-size: 55px;
        margin-bottom: 2%;
      }
      .shop h1 {
        color: white;
        font-size: 70px;
        font-weight: 900;
        margin-bottom: 2%;
      }
      .shop p {
        color: white;
        font-size: 15px;
        line-height: 2;
        word-spacing: 2;
        margin-bottom: 5%;
      }
      .shop a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        width: 30%;
        background-color: #252525;
        border: none;
        padding: 3% 0;
        text-align: center;
        text-transform: uppercase;
      }
      .shop a:hover {
        background-color: #252525;
      }

      .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: 13% auto;
      }
      .about-us {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .about-us h2 {
        color: #f76d37;
        font-size: 45px;
        text-transform: uppercase;
        margin-bottom: 2%;
      }
      .about-us p {
        color: #4c4c4b;
        font-size: 20px;
        margin-bottom: 5%;
        line-height: 1.3;
        word-spacing: 1.2;
      }
      .about img {
        flex-basis: 50%;
        width: 40%;
      }

      .about-us a {
        width: 30%;
        color: white;
        text-decoration: none;
        font-size: 18px;
        background-color: #252525;
        border: none;
        padding: 3% 4%;
        text-align: center;
        margin-top: 5%;
      }

      .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        font-size: 17px;
        color: black;
        padding-bottom: 10%;
      }
      .gallery h2 {
        color: #f76d37;
        font-size: 45px;
        margin-bottom: 2%;
      }

      .gallery a {
        width: 15%;
        color: white;
        text-decoration: none;
        font-size: 18px;
        background-color: #252525;
        border: none;
        padding: 1%;
        text-align: center;
        margin-top: 5%;
      }

      .see:hover {
        background-color: #f76d37;
      }

      .gallery-img {
        width: 100%;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .pic {
        width: 32%;
        height: 320px;
        position: relative;
      }
      .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(220, 220, 220, 0.5);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        z-index: 1;
        transition: opacity 0.7s ease;
        opacity: 0;
      }
      .text a {
        background-color: inherit;
        color: #252525;
        font-size: 5rem;
        font-weight: 800;
      }
      .pic:hover .overlay {
        opacity: 1;
      }
      .services {
        background: url(images/services-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
      }
      .serve {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        margin-top: 8%;
      }

      .coffee-logo {
        display: flex;
        width: 85%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5% auto;
      }
      .logo {
        width: 32%;
        /* border: 1px solid black; */
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #f76d37;
        color: white;
        gap: 20px;
      }
      .logo img {
        width: 45px;
        min-height: 50px;
      }
      .logo a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        width: 40%;
        background-color: #252525;
        border: none;
        padding: 3% 4%;
        text-align: center;
        display: none;
      }

      .logo:hover {
        background-color: #ffffff;
        height: 350px;
        color: black;
        transition: ease all .5s;
      }
      .logo:hover a {
        display: block;
        transition: ease all .1s;
      }



      .contain {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .testimonial {
        /* background-color: white; */
        padding: 8%;
        color: #252525;
      }
      .testi {
        margin-bottom: 20px;
      }
      .testi h1 {
        color: #f76d37;
        font-size: 40px;
        font-weight: bolder;
      }


      .border-main {
        width: 100%;
        overflow: hidden;
      }

      .border-container {
        /* position: relative; */
        width: 400%;
        /* border: 1px solid; */
        display: flex;
        /* justify-content: space-between; */
      }
      .slide {
        width: 25%;
        position: relative;
        transition: 1s;
      }

      .border1 {
        position: absolute;
        width: 100px;
        /* height: 150px; */
        height: 75%;
        border: solid black;
        border-width: 3px 0px 0px 3px;
        top: 52px;
        left: 0;
      }
      .border2 {
        position: absolute;
        width: 100px;
        /* height: 150px; */
        height: 75%;
        border: solid black;
        border-width: 0px 3px 3px 0px;
        right: 0;
        top: 52px;
      }
      .text {
        width: 90%;
        margin: 3% auto;
        /* text-align: center; */
      }
      .text h2 {
        color: #f76d37;
        margin-left: 9%;
        text-transform: uppercase;
        text-align: left;
        font-size: 27px;
      }
      .text p {
        width: 90%;
        margin: 20px auto 0px auto;
        line-height: 2;
        letter-spacing: 2;
      }













      /* Slider */

      .border-container input {
        display: none;
      }

      .navigation-manual{
        position: absolute;
        /* width: 800px; */
        margin-top: 103px;
        margin-left: 409.5px;
        display: flex;
        justify-content: center;
      }

      .manual-btn{
        padding: 8px 20px;
        /* background-color: transparent; */
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
        transition: 1s;
      }

      .manual-btn:hover{
        background: #f76d37;
      }

      #radio1:checked ~ .one{
        margin-left: 0;
      }
      
      #radio2:checked ~ .one{
        margin-left: -25%;
      }
      
      #radio3:checked ~ .one{
        margin-left: -50%;
      }
      
      #radio4:checked ~ .one{
        margin-left: -75%;
      }



      /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    /* border: 1px  solid black; */
    justify-content: center;
    left: 40%;
    margin-top: 25%;
    /* display: none; */
  }
  
  .navigation-auto div{
    padding: 8px 20px;
        background-color: black;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #f76d37;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #f76d37;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #f76d37;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #f76d37;
  }


  .Contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12%;
    align-items: center;
    gap: 130px;
  }

  .Contact h1{
    color: #f76d37;
    font-size: 50px;
  }

  .form-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 8%; */
    width: 100%;
    height: 500px;
    border: 19px solid #ffffff;
  }
  .form {
    width: 50%;
    background: url(images/thank.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
    height: 100%;
  }
  .form form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }
  .form form input {
    width: 100%;
    padding: 3%;
    margin-bottom: 4%;
    border: none;
    border-radius: 25px;
    background: #ffffff;
    outline: none;
    font-size: 18px;
  }

  .form form textarea {
    width: 100%;
    padding: 8% 4%;
    margin-bottom: 4%;
    border: none;
    border-radius: 25px;
    background: #ffffff;
    outline: none;
    font-size: 18px;
  }
  .form form button {
    width: 40%;
    padding: 4% 3%;
    border: none;
    border-radius: 25px;
    background: #ffffff;
    outline: none;
    font-size: 18px;
  }
 .map {
    width: 50%;
    height: 100%;
 }
 .map iframe {
    width: 100%;
    height: 100%;
 }
       
 .footer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: #252525;
 }

 .foots {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 85%;
    margin: 5% auto;
 }
 .foot {
    width: 20%;
 }
 .foot h2 {
    font-size: 25px;
 }
.foot ul, .foot p {
    margin-top: 8%;
}
 .foot ul li {
    list-style: none;
    margin-bottom: 10px;
    line-height: 1.5;
 }
 .foot ul li a:hover {
    color: #f76d37;
 }
 .foot ul li a {
    color: white;
    text-decoration: none;
 }
footer{
    background-color: white;
    text-align: center;
    padding: 2%;
    font-size: 20px;
    color: #252525;
}
footer p a {
    text-decoration: none;
    color: #252525;
}
footer p a:hover {
    color: #f76d37;
}



